<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Flying Base 2: Flight Department Engineer</title>
    <link href="../resources/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="../resources/assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="../resources/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="../resources/assets/css/custom.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Flying Base 2</a>
        </div>
        <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Добро пожаловать e.shamkin &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Выйти</a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="/resources/assets/img/newfb28.png" class="user-image img-responsive"/>
                </li>
                <li>
                    <a href="flightdata.html"><i class="active-menu fa fa-table fa-3x"></i> События ЛО</a>
                </li>
                <li>
                    <a href="squadrondata.html"><i class="fa fa-edit fa-3x"></i> События Эскадрилий</a>
                </li>
                <li>
                    <a href="tab-panel.html"><i class="fa fa-sitemap fa-3x"></i> Справочники<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="airports.html">Аэропорты</a>
                        </li>
                        <li>
                            <a href="fleet.html">Флот</a>
                        </li>
                        <li>
                            <a href="engineering.html">Персонал Инжиниринга</a>
                        </li>
                        <li>
                            <a href="pilots.html">Персонал Летного отряда</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Статистика</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p th:text="'Талон обратной связи №' + ${singleEventFlightDepartmentData.incomingNumber}">
                                Талон</p>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Дата обработки</th>
                                        <th>Дата полета</th>
                                        <th>Борт. номер</th>
                                        <th>Рейс</th>
                                        <th>Взлет</th>
                                        <th>Посадка</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${singleEventFlightDepartmentData.incomingNumber}"></td>
                                        <td th:text="${singleEventFlightDepartmentData.dateOfProcessing}"></td>
                                        <td th:text="${singleEventFlightDepartmentData.dateOfFlight}"></td>
                                        <td th:text="${singleEventFlightDepartmentData.tailNumber}"></td>
                                        <td th:text="${singleEventFlightDepartmentData.flightNumber}"></td>
                                        <td th:text="${singleEventFlightDepartmentData.departure}"></td>
                                        <td th:text="${singleEventFlightDepartmentData.arrival}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Событие 1</th>
                                        <th>Классификация события</th>
                                        <th>Предварительная оценка риска</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="eventOne">
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventOneForwardRiskEstimate, 'Низкий')}">
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventOne}"></td>
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventOneClassification}"></td>
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventOneForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventOneForwardRiskEstimate, 'Умеренный')}">
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventOne}"></td>
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventOneClassification}"></td>
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventOneForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventOneForwardRiskEstimate, 'Высокий')}">
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventOne}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventOneClassification}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventOneForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventOneForwardRiskEstimate, 'Недопустимый')}">
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventOne}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventOneClassification}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventOneForwardRiskEstimate}"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th>Событие 2</th>
                                        <th>Классификация события</th>
                                        <th>Предварительная оценка риска</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="eventTwo">
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventTwoForwardRiskEstimate, 'Низкий')}">
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventTwo}"></td>
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventTwoClassification}"></td>
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventTwoForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventTwoForwardRiskEstimate, 'Умеренный')}">
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventTwo}"></td>
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventTwoClassification}"></td>
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventTwoForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventTwoForwardRiskEstimate, 'Высокий')}">
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventTwo}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventTwoClassification}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventTwoForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventTwoForwardRiskEstimate, 'Недопустимый')}">
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventTwo}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventTwoClassification}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventTwoForwardRiskEstimate}"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th>Событие 3</th>
                                        <th>Классификация события</th>
                                        <th>Предварительная оценка риска</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="eventThree">
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventThreeForwardRiskEstimate, 'Низкий')}">
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventThree}"></td>
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventThreeClassification}"></td>
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventThreeForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventThreeForwardRiskEstimate, 'Умеренный')}">
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventThree}"></td>
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventThreeClassification}"></td>
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventThreeForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventThreeForwardRiskEstimate, 'Высокий')}">
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventThree}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventThreeClassification}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventThreeForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventThreeForwardRiskEstimate, 'Недопустимый')}">
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventThree}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventThreeClassification}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventThreeForwardRiskEstimate}"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th>Событие 4</th>
                                        <th>Классификация события</th>
                                        <th>Предварительная оценка риска</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="eventFour">
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventFourForwardRiskEstimate, 'Низкий')}">
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventFour}"></td>
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventFourClassification}"></td>
                                            <td class="success"
                                                th:text="${singleEventFlightDepartmentData.eventFourForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventFourForwardRiskEstimate, 'Умеренный')}">
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventFour}"></td>
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventFourClassification}"></td>
                                            <td class="warning"
                                                th:text="${singleEventFlightDepartmentData.eventFourForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventFourForwardRiskEstimate, 'Высокий')}">
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventFour}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventFourClassification}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventFourForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(singleEventFlightDepartmentData.eventFourForwardRiskEstimate, 'Недопустимый')}">
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventFour}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventFourClassification}"></td>
                                            <td class="danger"
                                                th:text="${singleEventFlightDepartmentData.eventFourForwardRiskEstimate}"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Примечания</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${singleEventFlightDepartmentData.remarks}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Анализ полета</th>
                                        <th>Корректирующие действия</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${singleEventFlightDepartmentData.analysis}"></td>
                                        <td th:text="${singleEventFlightDepartmentData.correctiveAction}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Дата анализа</th>
                                        <th>Командир Авиаэскадрильи</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${singleEventFlightDepartmentData.dateOfAnalysis}"></td>
                                        <td th:text="${singleEventFlightDepartmentData.squadronChief}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <form action="#" th:action="@{/fdinfo/update/}"
                                  th:object="${singleEventFlightDepartmentData}"
                                  method="post">
                                <input type="hidden" name="id" th:value="${singleEventFlightDepartmentData.id}">
                                <input type="hidden" name="incomingNumber"
                                       th:value="${singleEventFlightDepartmentData.incomingNumber}">
                                <input type="hidden" name="dateOfProcessing"
                                       th:value="${singleEventFlightDepartmentData.dateOfProcessing}">
                                <input type="hidden" name="dateOfFlight"
                                       th:value="${singleEventFlightDepartmentData.dateOfFlight}">
                                <input type="hidden" name="tailNumber"
                                       th:value="${singleEventFlightDepartmentData.tailNumber}">
                                <input type="hidden" name="flightNumber"
                                       th:value="${singleEventFlightDepartmentData.flightNumber}">
                                <input type="hidden" name="departure"
                                       th:value="${singleEventFlightDepartmentData.departure}">
                                <input type="hidden" name="arrival"
                                       th:value="${singleEventFlightDepartmentData.arrival}">
                                <input type="hidden" name="eventOne"
                                       th:value="${singleEventFlightDepartmentData.eventOne}">
                                <input type="hidden" name="eventOneClassification"
                                       th:value="${singleEventFlightDepartmentData.eventOneClassification}">
                                <input type="hidden" name="eventOneForwardRiskEstimate"
                                       th:value="${singleEventFlightDepartmentData.eventOneForwardRiskEstimate}">
                                <input type="hidden" name="eventTwo"
                                       th:value="${singleEventFlightDepartmentData.eventTwo}">
                                <input type="hidden" name="eventTwoClassification"
                                       th:value="${singleEventFlightDepartmentData.eventTwoClassification}">
                                <input type="hidden" name="eventTwoForwardRiskEstimate"
                                       th:value="${singleEventFlightDepartmentData.eventTwoForwardRiskEstimate}">
                                <input type="hidden" name="eventThree"
                                       th:value="${singleEventFlightDepartmentData.eventThree}">
                                <input type="hidden" name="eventThreeClassification"
                                       th:value="${singleEventFlightDepartmentData.eventThreeClassification}">
                                <input type="hidden" name="eventThreeForwardRiskEstimate"
                                       th:value="${singleEventFlightDepartmentData.eventThreeForwardRiskEstimate}">
                                <input type="hidden" name="eventFour"
                                       th:value="${singleEventFlightDepartmentData.eventFour}">
                                <input type="hidden" name="eventFourClassification"
                                       th:value="${singleEventFlightDepartmentData.eventFourClassification}">
                                <input type="hidden" name="eventFourForwardRiskEstimate"
                                       th:value="${singleEventFlightDepartmentData.eventFourForwardRiskEstimate}">
                                <input type="hidden" name="remarks"
                                       th:value="${singleEventFlightDepartmentData.remarks}">
                                <input type="hidden" name="analysis"
                                       th:value="${singleEventFlightDepartmentData.analysis}">
                                <input type="hidden" name="correctiveAction"
                                       th:value="${singleEventFlightDepartmentData.correctiveAction}">
                                <input type="hidden" name="correctiveAction"
                                       th:value="${singleEventFlightDepartmentData.dateOfAnalysis}">
                                <input type="hidden" name="correctiveAction"
                                       th:value="${singleEventFlightDepartmentData.squadronChief}">

                                <div class="form-inline col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="commanderId">КВС ID</label>
                                        <input type="text" class="form-control" id="commanderId" placeholder="КВС"
                                               th:field="${singleEventFlightDepartmentData.pilotInCommand}">
                                    </div>
                                    <div class="form-group">
                                        <label for="firstOfficerId">ВП ID</label>
                                        <input type="text" class="form-control" id="firstOfficerId" placeholder="ВП"
                                               th:field="${singleEventFlightDepartmentData.firstAssistant}">
                                    </div>
                                    <div class="form-group">
                                        <label for="pilotFlying">Пилотирующий</label>
                                        <select class="form-control" id="pilotFlying" name="pilot">
                                            <option th:each="pilot : ${singleEventFlightDepartmentData.pilotFlying}"
                                                    th:value="${singleEventFlightDepartmentData.pilotFlying}"
                                                    th:text="${singleEventFlightDepartmentData.pilotFlying}">KVS
                                            </option>
                                            <!-- <option th:each="p : ${pilotFlyingKey}" th:value="${p}"
                                                    th:text="${p}"></option> -->
                                        </select>
                                    </div>
                                    <!--   <div class="form-group">
                                            <label for="squadron">№ АЭ</label>
                                            <select class="form-control" id="squadron" name="squad">
                                                <option th:each=""
                                                        th:field="${singleEventFlightDepartmentData.aviasquadronNumber}">></option>
                                            </select>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="necessaryActions">Необходимые мероприятия</label>
                                            <select class="form-control" id="necessaryActions"
                                                    th:field="${singleEventFlightDepartmentData.necessaryActions}">
                                                <option></option>
                                                <option>Анализ в АЭ</option>
                                                <option>Служебное расследование в ЛО</option>
                                                <option>Расследование в ИБП</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="controlledBy">Контроль</label>
                                            <select class="form-control" id="controlledBy"
                                                    th:field="${singleEventFlightDepartmentData.controlledBy}">
                                                <option></option>
                                                <option>Командир ЛО</option>
                                                <option>Зам. командира</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input id="deadline" name="deadline" placeholder="Срок КД"
                                                   type="date"
                                                   th:field="${singleEventFlightDepartmentData.deadlineOfCorrectiveAction}">
                                        </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<script type="text/javascript" src="../resources/assets/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="../resources/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../resources/assets/js/jquery.metisMenu.js"></script>
<script type="text/javascript" src="../resources/assets/js/dataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../resources/assets/js/dataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="../resources/assets/js/custom.js"></script>
</body>
</html>
