<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Flying Base 2</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="resources/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="resources/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- TABLE STYLES-->
    <link href="resources/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <!-- CUSTOM STYLES-->
    <link href="resources/assets/css/custom.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- JQUERY SCRIPTS -->
    <script type="text/javascript" src="resources/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script type="text/javascript" src="resources/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script type="text/javascript" src="resources/assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script type="text/javascript" src="resources/assets/js/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="resources/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <!-- <script type="text/javascript">
        window.onload = function()
        { document.getElementById("hideAll").style.display = "none"; }
    </script> -->
</head>
<body>
<!-- <div style="display: none" id="hideAll"> -->
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Flying Base 2</a>
        </div>
        <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Добро пожаловать e.shamkin &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Выйти</a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="/resources/assets/img/newfb28.png" class="user-image img-responsive"/>
                </li>
                <li>
                    <a class="active-menu" href="index.html"><i class="fa fa-table fa-3x"></i> События</a>
                </li>
                <li>
                    <a href="ui.html"><i class="fa fa-edit fa-3x"></i> Сообщения</a>
                </li>
                <li>
                    <a href="tab-panel.html"><i class="fa fa-sitemap fa-3x">
                    </i> Настройки</a>
                </li>
                <li>
                    <a href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Статистика</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>Летные события</h2>
                    <h5>Уровень доступа: летный отряд</h5>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Перечень событий
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" th:if="${not #lists.isEmpty(listFlightDepartmentData)}">
                                <table class="table table-striped table-bordered table-hover" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Вх. №</th>
                                        <th>Дата полета</th>
                                        <th>№ рейса</th>
                                        <th>Взлет</th>
                                        <th>Посадка</th>
                                        <th>Бортовой номер</th>
                                        <th>Event</th>
                                        <th>КВС</th>
                                        <th>ВП</th>
                                        <th>PF</th>
                                        <th>АЕ</th>
                                        <th>КД приняты</th>
                                        <th>Индекс риска</th>
                                        <th>Закрыт</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeA" th:each="data : ${listFlightDepartmentData}">
                                        <td th:text="${data.id}">id</td>
                                        <td><a href="/fdinfo/" th:href="@{'/fdinfo/' + ${data.incomingNumber}}"
                                               th:text="${data.incomingNumber}">incomingNumber</a></td>
                                        <td th:text="${data.dateOfFlight}">dateOfFlight</td>
                                        <td th:text="${data.flightNumber}">flightNumber</td>
                                        <td th:text="${data.departure}">departure</td>
                                        <td th:text="${data.arrival}">arrival</td>
                                        <td th:text="${data.tailNumber}">tailNumber</td>
                                        <td th:text="${data.mainEventNumber}">mainEventNumber</td>
                                        <td th:text="${data.pilotInCommand}">pilotInCommand</td>
                                        <td th:text="${data.firstAssistant}">${data.firstAssistant</td>
                                        <td th:text="${data.pilotFlying}">${data.pilotFlying</td>
                                        <td th:text="${data.aviaEsquadron}">${data.aviaEsquadron</td>
                                        <td th:text="${data.correctiveActionAcceptanceBy}">
                                            correctiveActionAcceptanceBy
                                        </td>
                                        <td id="risk" th:text="${data.riskIndex}">riskIndex</td>
                                        <td th:text="${data.talonClosedBy}">talonClosedBy</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<!-- </div> -->

<!-- <script type="text/javascript">
    function init() {
        if (arguments.callee.done) return;
        arguments.callee.done = true;
        $('.main').show();
    }
    ;
    window.onload = init;
</script> -->
<!-- <script type="text/javascript">
    jQuery('document').ready(function () {
        document.getElementById("hideAll").style.display = "block";
    })
</script> -->


<!-- Table column color in accordance with risk weight -->
<script type="text/javascript">
    var table = document.getElementById("dataTable");
    var rows = table.getElementsByTagName("tr");
    for (var z = 0; z < rows.length; z++) {
        if (rows[z].cells[13].innerHTML > 0 && rows[z].cells[13].innerHTML < 20) {
            rows[z].cells[13].style.backgroundColor = "#cae9bf";
        } else if (rows[z].cells[13].innerHTML >= 20 && rows[z].cells[13].innerHTML < 100) {
            rows[z].cells[13].style.backgroundColor = "#fdfcb8";
        } else if (rows[z].cells[13].innerHTML >= 100 && rows[z].cells[13].innerHTML < 200) {
            rows[z].cells[13].style.backgroundColor = "#fdc498";
        } else if (rows[z].cells[13].innerHTML > 200) {
            rows[z].cells[13].style.backgroundColor = "#ff9f92";
        }
    }
</script>
<!-- Table columns of corrective action acceptance icons instead of text -->
<script type="text/javascript">
    var col13 = document.querySelectorAll("#dataTable td:nth-child(13)");
    [].forEach.call(col13, function (elem) {
        if (elem.textContent.replace(/\s/g, "").length > 0) {
            elem.innerHTML =
                '<img src="/resources/assets/img/OK.png">';
        } else {
            elem.innerHTML =
                '<img src="/resources/assets/img/Error.png">';
        }
    });
</script>
<!-- Table columns of talon closing icons instead of text -->
<script type="text/javascript">
    var col15 = document.querySelectorAll("#dataTable td:nth-child(15)");
    [].forEach.call(col15, function (elem) {
        if (elem.textContent.replace(/\s/g, "").length > 0) {
            elem.innerHTML =
                '<img src="/resources/assets/img/OK.png">';
        } else {
            elem.innerHTML =
                '<img src="/resources/assets/img/Error.png">';
        }
    });
</script>

<!-- Data Table pagination script -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').dataTable();
    });
</script>
<!-- CUSTOM SCRIPTS -->
<script src="resources/assets/js/custom.js"></script>
</body>
</html>
