<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Flying Base 2: Air Squadron</title>
    <link href="../resources/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="../resources/assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="../resources/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="../resources/assets/css/custom.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="../resources/assets/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../resources/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/assets/js/jquery.metisMenu.js"></script>
    <script type="text/javascript" src="../resources/assets/js/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../resources/assets/js/dataTables/dataTables.bootstrap.js"></script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Flying Base 2</a>
        </div>
        <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Добро пожаловать e.shamkin &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Выйти</a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="/resources/assets/img/newfb28.png" class="user-image img-responsive"/>
                </li>
                <li>
                    <a class="active-menu" href="index.html"><i class="fa fa-table fa-3x"></i> События</a>
                </li>
                <li>
                    <a href="ui.html"><i class="fa fa-edit fa-3x"></i> Сообщения</a>
                </li>
                <li>
                    <a href="tab-panel.html"><i class="fa fa-sitemap fa-3x">
                    </i> Настройки</a>
                </li>
                <li>
                    <a href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Статистика</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p th:text="'Талон обратной связи №' + ${aviasquadronSingleData.incomingNumber}">Талон</p>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Дата полета</th>
                                        <th>Рейс</th>
                                        <th>Вылет</th>
                                        <th>Прибытие</th>
                                        <th>Борт. номер</th>
                                        <th>КВС ID</th>
                                        <th>ВП ID</th>
                                        <th>PF</th>
                                        <th>Необходимые мероприятия</th>
                                        <th>Срок КД</th>
                                        <th>КД одобрены</th>
                                        <th>Закрыт</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${aviasquadronSingleData.incomingNumber}">dateOfFlight</td>
                                        <td th:text="${aviasquadronSingleData.flightNumber}">.flightNumber</td>
                                        <td th:text="${aviasquadronSingleData.departure}">departure}</td>
                                        <td th:text="${aviasquadronSingleData.arrival}">arrival}</td>
                                        <td th:text="${aviasquadronSingleData.tailNumber}">tailNumber}</td>
                                        <td th:text="${aviasquadronSingleData.pilotInCommand}">pilotInCommand}</td>
                                        <td th:text="${aviasquadronSingleData.firstAssistant}">
                                            ${aviasquadronSingleData.firstAssistant}
                                        </td>
                                        <td th:text="${aviasquadronSingleData.pilotFlying}">
                                            ${aviasquadronSingleData.pilotFlying}
                                        </td>
                                        <td th:text="${aviasquadronSingleData.necessaryActions}">
                                            ${aviasquadronSingleData.necessaryActions}
                                        </td>
                                        <td th:text="${aviasquadronSingleData.deadlineOfCorrectiveAction}">
                                            ${aviasquadronSingleData.deadlineOfCorrectiveAction}
                                        </td>
                                        <td th:text="${aviasquadronSingleData.correctiveActionAcceptanceBy}">
                                            ${aviasquadronSingleData.correctiveActionAcceptanceBy}
                                        </td>
                                        <td th:text="${aviasquadronSingleData.talonClosedBy}">
                                            ${aviasquadronSingleData.talonClosedBy}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="eventsTable" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Событие 1</th>
                                        <th>Классификация события</th>
                                        <th>Предварительная оценка риска</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="eventOne">
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventOneForwardRiskEstimate, 'Низкий')}">
                                            <td class="success" th:text="${aviasquadronSingleData.eventOne}"></td>
                                            <td class="success"
                                                th:text="${aviasquadronSingleData.eventOneClassification}"></td>
                                            <td class="success"
                                                th:text="${aviasquadronSingleData.eventOneForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventOneForwardRiskEstimate, 'Умеренный')}">
                                            <td class="warning" th:text="${aviasquadronSingleData.eventOne}"></td>
                                            <td class="warning"
                                                th:text="${aviasquadronSingleData.eventOneClassification}"></td>
                                            <td class="warning"
                                                th:text="${aviasquadronSingleData.eventOneForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventOneForwardRiskEstimate, 'Высокий')}">
                                            <td class="danger" th:text="${aviasquadronSingleData.eventOne}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventOneClassification}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventOneForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventOneForwardRiskEstimate, 'Недопустимый')}">
                                            <td class="danger" th:text="${aviasquadronSingleData.eventOne}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventOneClassification}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventOneForwardRiskEstimate}"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th>Событие 2</th>
                                        <th>Классификация события</th>
                                        <th>Предварительная оценка риска</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="eventTwo">
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventTwoForwardRiskEstimate, 'Низкий')}">
                                            <td class="success" th:text="${aviasquadronSingleData.eventTwo}"></td>
                                            <td class="success"
                                                th:text="${aviasquadronSingleData.eventTwoClassification}"></td>
                                            <td class="success"
                                                th:text="${aviasquadronSingleData.eventTwoForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventTwoForwardRiskEstimate, 'Умеренный')}">
                                            <td class="warning" th:text="${aviasquadronSingleData.eventTwo}"></td>
                                            <td class="warning"
                                                th:text="${aviasquadronSingleData.eventTwoClassification}"></td>
                                            <td class="warning"
                                                th:text="${aviasquadronSingleData.eventTwoForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventTwoForwardRiskEstimate, 'Высокий')}">
                                            <td class="danger" th:text="${aviasquadronSingleData.eventTwo}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventTwoClassification}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventTwoForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventTwoForwardRiskEstimate, 'Недопустимый')}">
                                            <td class="danger" th:text="${aviasquadronSingleData.eventTwo}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventTwoClassification}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventTwoForwardRiskEstimate}"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th>Событие 3</th>
                                        <th>Классификация события</th>
                                        <th>Предварительная оценка риска</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="eventThree">
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventThreeForwardRiskEstimate, 'Низкий')}">
                                            <td class="success" th:text="${aviasquadronSingleData.eventThree}"></td>
                                            <td class="success"
                                                th:text="${aviasquadronSingleData.eventThreeClassification}"></td>
                                            <td class="success"
                                                th:text="${aviasquadronSingleData.eventThreeForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventThreeForwardRiskEstimate, 'Умеренный')}">
                                            <td class="warning" th:text="${aviasquadronSingleData.eventThree}"></td>
                                            <td class="warning"
                                                th:text="${aviasquadronSingleData.eventThreeClassification}"></td>
                                            <td class="warning"
                                                th:text="${aviasquadronSingleData.eventThreeForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventThreeForwardRiskEstimate, 'Высокий')}">
                                            <td class="danger" th:text="${aviasquadronSingleData.eventThree}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventThreeClassification}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventThreeForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventThreeForwardRiskEstimate, 'Недопустимый')}">
                                            <td class="danger" th:text="${aviasquadronSingleData.eventThree}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventThreeClassification}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventThreeForwardRiskEstimate}"></td>
                                        </div>
                                    </tr>
                                    <thead>
                                    <tr>
                                        <th>Событие 4</th>
                                        <th>Классификация события</th>
                                        <th>Предварительная оценка риска</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="eventFour">
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventFourForwardRiskEstimate, 'Низкий')}">
                                            <td class="success" th:text="${aviasquadronSingleData.eventFour}"></td>
                                            <td class="success"
                                                th:text="${aviasquadronSingleData.eventFourClassification}"></td>
                                            <td class="success"
                                                th:text="${aviasquadronSingleData.eventFourForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventFourForwardRiskEstimate, 'Умеренный')}">
                                            <td class="warning" th:text="${aviasquadronSingleData.eventFour}"></td>
                                            <td class="warning"
                                                th:text="${aviasquadronSingleData.eventFourClassification}"></td>
                                            <td class="warning"
                                                th:text="${aviasquadronSingleData.eventFourForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventFourForwardRiskEstimate, 'Высокий')}">
                                            <td class="danger" th:text="${aviasquadronSingleData.eventFour}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventFourClassification}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventFourForwardRiskEstimate}"></td>
                                        </div>
                                        <div th:if="${#strings.contains(aviasquadronSingleData.eventFourForwardRiskEstimate, 'Недопустимый')}">
                                            <td class="danger" th:text="${aviasquadronSingleData.eventFour}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventFourClassification}"></td>
                                            <td class="danger"
                                                th:text="${aviasquadronSingleData.eventFourForwardRiskEstimate}"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Примечания</th>
                                        <th>Обратная связь из летного отряда</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${aviasquadronSingleData.remarks}"></td>
                                        <td th:text="${aviasquadronSingleData.feedbackFromFlightDepartment}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="#" th:action="@{/sqinfo/update/}" th:object="${aviasquadronSingleData}" method="post">
                                <div class="form-group">
                                    <label for="analysisOfEvents">Анализ</label>
                                    <textarea class="form-control" rows="3" id="analysisOfEvents"
                                              placeholder="Анализ событий полета" th:text="${aviasquadronSingleData.analysis}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="correctiveActions">Корректирующие действия</label>
                                    <textarea class="form-control" rows="3" id="correctiveActions"
                                              placeholder="Что было сделано в АЭ по данному событию?" th:text="${aviasquadronSingleData.correctiveAction}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="responsiblePerson">Ответственное лицо</label>
                                    <input type="text" class="form-control" id="responsiblePerson"
                                           placeholder="Командир эскадрильи или заместитель" th:value="${aviasquadronSingleData.squadronChief}">
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>

<!-- CUSTOM SCRIPTS -->
<script type="text/javascript" src="../resources/assets/js/custom.js"></script>
</body>
</html>
